<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>OWN</string>
	<string>PUN</string>
	<string>ALONE</string>
	<string>ALBUM</string>
	<string>ACTOR</string>
	<string>ICE</string>
	<string>HYENA</string>
	<string>SCAR</string>
	<string>CARE</string>
	<string>SNOW</string>
	<string>ARMOR</string>
	<string>NIGHT</string>
	<string>SPEED</string>
	<string>BOAT</string>
	<string>LOW</string>
	<string>LION</string>
	<string>TIGER</string>
	<string>PUMA</string>
	<string>SNAKE</string>
	<string>BIRD</string>
	<string>WINGS</string>
	<string>HOUND</string>
	<string>ANGEL</string>
	<string>WEB</string>
	<string>DOOR</string>
	<string>BUS</string>
	<string>CAR</string>
	<string>BIKE</string>
	<string>MOTOR</string>
	<string>CYCLE</string>
	<string>PALE</string>
	<string>HIM</string>
	<string>HER</string>
	<string>CUP</string>
	<string>GUY</string>
	<string>BEEP</string>
	<string>NAME</string>
	<string>NOT</string>
	<string>HIGH</string>
	<string>WON</string>
	<string>START</string>
	<string>RIB</string>
	<string>WOW</string>
	<string>WORLD</string>
	<string>EARTH</string>
	<string>BRICK</string>
	<string>WEED</string>
	<string>LOAD</string>
	<string>DID</string>
	<string>DONE</string>
	<string>WORD</string>
	<string>GUESS</string>
	<string>TEXT</string>
	<string>OFF</string>
	<string>VALUE</string>
	<string>WHOLE</string>
	<string>WHALE</string>
	<string>SHARK</string>
	<string>START</string>
	<string>STOP</string>
	<string>TOP</string>
	<string>UPON</string>
	<string>NEW</string>
	<string>OLD</string>
	<string>INPUT</string>
	<string>ENTER</string>
	<string>ONLY</string>
	<string>WHY</string>
	<string>MONEY</string>
	<string>ART</string>
	<string>ARTS</string>
	<string>REAL</string>
	<string>FREE</string>
	<string>DATA</string>
	<string>DATE</string>
	<string>COME</string>
	<string>COMES</string>
	<string>CULT</string>
	<string>LIFE</string>
	<string>THAT</string>
	<string>THIS</string>
	<string>THERE</string>
	<string>WHERE</string>
	<string>HOPE</string>
	<string>FEAR</string>
	<string>STAKE</string>
	<string>STOCK</string>
	<string>SHARE</string>
	<string>EQUAL</string>
	<string>NOW</string>
	<string>OTHER</string>
	<string>ALIEN</string>
	<string>WHAT</string>
	<string>HOW</string>
	<string>MODEL</string>
	<string>MODE</string>
	<string>DRESS</string>
	<string>SAME</string>
	<string>MUCH</string>
	<string>LESS</string>
	<string>MORE</string>
	<string>MANY</string>
	<string>FEW</string>
	<string>PART</string>
	<string>BASE</string>
	<string>NEED</string>
	<string>TEST</string>
	<string>DARE</string>
	<string>KISS</string>
	<string>BOTH</string>
	<string>ASIA</string>
	<string>ROLE</string>
	<string>GOOD</string>
	<string>BAD</string>
	<string>HELLO</string>
	<string>FILE</string>
	<string>FOUND</string>
	<string>NOES</string>
	<string>LOST</string>
	<string>PICK</string>
	<string>CHOSE</string>
	<string>CLAY</string>
	<string>LIME</string>
	<string>OWL</string>
	<string>JAM</string>
	<string>PAD</string>
	<string>BOOK</string>
	<string>NOTE</string>
	<string>RULES</string>
	<string>WITH</string>
	<string>PAPER</string>
	<string>RED</string>
	<string>GREEN</string>
	<string>BLUE</string>
	<string>BLINK</string>
	<string>BELT</string>
	<string>BUZZ</string>
	<string>BYTE</string>
	<string>BITE</string>
	<string>STUCK</string>
	<string>LAYER</string>
	<string>CAKE</string>
	<string>PARK</string>
	<string>DRIVE</string>
	<string>RIDE</string>
	<string>WILD</string>
	<string>CALM</string>
	<string>PUSH</string>
	<string>PULL</string>
	<string>DRAG</string>
	<string>LIFT</string>
	<string>COOK</string>
	<string>CHEF</string>
	<string>GOAT</string>
	<string>SWINE</string>
	<string>PIG</string>
	<string>MILK</string>
	<string>COIN</string>
	<string>CHIN</string>
	<string>CREEP</string>
	<string>CROWL</string>
	<string>CROWN</string>
	<string>TURN</string>
	<string>CRAB</string>
	<string>CUT</string>
	<string>DULL</string>
	<string>DUNE</string>
	<string>THICK</string>
	<string>THIN</string>
	<string>BEING</string>
	<string>HUMAN</string>
	<string>KIND</string>
	<string>NICE</string>
	<string>FAKE</string>
	<string>FIST</string>
	<string>BALD</string>
	<string>CORN</string>
	<string>RICE</string>
	<string>EGG</string>
	<string>EGGS</string>
	<string>GOOSE</string>
	<string>GEESE</string>
	<string>GERM</string>
	<string>HUGE</string>
	<string>LARGE</string>
	<string>SMALL</string>
	<string>HOLE</string>
	<string>RING</string>
	<string>KEY</string>
	<string>LIGHT</string>
	<string>WIRE</string>
	<string>WHITE</string>
	<string>BLACK</string>
	<string>BROWN</string>
	<string>JOB</string>
	<string>WORK</string>
	<string>COW</string>
	<string>DUCK</string>
	<string>SHEEP</string>
	<string>SAD</string>
	<string>FOCUS</string>
	<string>WELL</string>
	<string>MEDIA</string>
	<string>SEEK</string>
	<string>ARGUE</string>
	<string>CHEAP</string>
	<string>LEAP</string>
	<string>TREE</string>
	<string>DEEP</string>
	<string>GIRL</string>
	<string>BOY</string>
	<string>MAN</string>
	<string>MEN</string>
	<string>WOMAN</string>
	<string>WOMEN</string>
	<string>GOAL</string>
	<string>FIELD</string>
	<string>GREY</string>
	<string>TABLE</string>
	<string>PAN</string>
	<string>FLY</string>
	<string>SPY</string>
	<string>DRY</string>
	<string>TRY</string>
	<string>FINE</string>
	<string>SWEET</string>
	<string>SUGAR</string>
	<string>LOVE</string>
	<string>HATE</string>
	<string>PAIN</string>
	<string>HEART</string>
	<string>LEG</string>
	<string>BREAD</string>
	<string>BREED</string>
	<string>DROWN</string>
	<string>DRAW</string>
	<string>DIVE</string>
	<string>DAWN</string>
	<string>DUSK</string>
	<string>TIME</string>
	<string>SPACE</string>
	<string>PHONE</string>
	<string>CALL</string>
	<string>TOUCH</string>
	<string>PLUS</string>
	<string>MINUS</string>
	<string>SOUND</string>
	<string>CRY</string>
	<string>SLEEP</string>
	<string>VIEW</string>
	<string>MAP</string>
	<string>BRAIN</string>
	<string>ARM</string>
	<string>HAND</string>
	<string>TOE</string>
	<string>BOW</string>
	<string>TIE</string>
	<string>GAME</string>
	<string>WIN</string>
	<string>LOSE</string>
	<string>BACK</string>
	<string>SIT</string>
	<string>STAND</string>
	<string>APPLE</string>
	<string>PEAR</string>
	<string>BERRY</string>
	<string>WOOD</string>
	<string>SHOE</string>
	<string>SHOES</string>
	<string>FOOT</string>
	<string>FEET</string>
	<string>TRICK</string>
	<string>TRIAL</string>
	<string>ERROR</string>
	<string>ITEM</string>
	<string>TEN</string>
	<string>SIX</string>
	<string>SEVEN</string>
	<string>EIGHT</string>
	<string>NINE</string>
	<string>TWO</string>
	<string>ONE</string>
	<string>THREE</string>
	<string>FOUR</string>
	<string>FIVE</string>
	<string>BAG</string>
	<string>ROPE</string>
	<string>KNOW</string>
	<string>KNEW</string>
	<string>FALL</string>
	<string>FELL</string>
	<string>GET</string>
	<string>SET</string>
	<string>AZTEC</string>
	<string>BUGGY</string>
	<string>BRUSH</string>
	<string>BONES</string>
	<string>BONUS</string>
	<string>PRIZE</string>
	<string>CABIN</string>
	<string>CHEST</string>
	<string>NECK</string>
	<string>LEG</string>
	<string>HEEL</string>
	<string>EEL</string>
	<string>SNAIL</string>
	<string>HOUSE</string>
	<string>HOME</string>
	<string>CATCH</string>
	<string>CHARM</string>
	<string>CHAIN</string>
	<string>CHIPS</string>
	<string>CHIP</string>
	<string>CLIMB</string>
	<string>COUNT</string>
	<string>DUKE</string>
	<string>PRICE</string>
	<string>BUNNY</string>
	<string>BRAVE</string>
	<string>ALARM</string>
	<string>FOR</string>
	<string>THE</string>
	<string>KING</string>
	<string>QUEEN</string>
	<string>DAY</string>
	<string>TEAR</string>
	<string>PINK</string>
	<string>LIES</string>
	<string>ROBOT</string>
	<string>CODE</string>
	<string>OPEN</string>
	<string>CLOSE</string>
	<string>PLACE</string>
	<string>TEA</string>
	<string>TAX</string>
	<string>CURL</string>
	<string>SHIRT</string>
	<string>PANTS</string>
	<string>HAIR</string>
	<string>GLASS</string>
	<string>THINK</string>
	<string>BREW</string>
	<string>STEW</string>
	<string>PORK</string>
	<string>STONE</string>
	<string>FIBER</string>
	<string>LAMP</string>
	<string>PEACE</string>
	<string>HIP</string>
	<string>PILE</string>
	<string>PLOW</string>
	<string>CRANE</string>
	<string>CROW</string>
	<string>CROWS</string>
	<string>FROWN</string>
	<string>GROWN</string>
	<string>WORDS</string>
	<string>WRONG</string>
	<string>NOSE</string>
	<string>TEETH</string>
	<string>TOOTH</string>
	<string>SMILE</string>
	<string>MOUTH</string>
	<string>WASH</string>
	<string>WISH</string>
	<string>BEER</string>
	<string>BOAR</string>
	<string>HARE</string>
	<string>WATER</string>
	<string>LOCAL</string>
	<string>USER</string>
	<string>USERS</string>
	<string>EVIL</string>
	<string>PATH</string>
	<string>FULL</string>
	<string>TENT</string>
	<string>LIST</string>
	<string>TYPE</string>
	<string>ROUND</string>
	<string>BALL</string>
	<string>BELL</string>
	<string>BULL</string>
	<string>LINE</string>
	<string>CORE</string>
	<string>KIT</string>
	<string>DOG</string>
	<string>CAT</string>
	<string>BOX</string>
	<string>CARD</string>
	<string>MAIL</string>
	<string>PIE</string>
	<string>SHORT</string>
	<string>TALL</string>
	<string>LIVE</string>
	<string>LIVES</string>
	<string>EYES</string>
	<string>DARK</string>
	<string>COLOR</string>
	<string>DOWN</string>
	<string>EAR</string>
	<string>PAUSE</string>
	<string>BREAK</string>
	<string>TELL</string>
	<string>TALK</string>
	<string>BRAG</string>
	<string>CASE</string>
	<string>CHAIN</string>
	<string>PINE</string>
	<string>REBEL</string>
	<string>NOISE</string>
	<string>TEEN</string>
	<string>FRIES</string>
	<string>SEA</string>
	<string>COBRA</string>
	<string>CLAW</string>
	<string>USE</string>
	<string>YOU</string>
	<string>THEY</string>
	<string>THEM</string>
	<string>COLD</string>
	<string>COOL</string>
	<string>AXE</string>
	<string>TIMES</string>
	<string>ASH</string>
	<string>RUM</string>
	<string>FLAW</string>
	<string>ADD</string>
	<string>MALE</string>
	<string>IRON</string>
	<string>STEEL</string>
	<string>STEAL</string>
	<string>STOLE</string>
	<string>SOUP</string>
	<string>POUND</string>
	<string>KILO</string>
	<string>CRIME</string>
	<string>DRAMA</string>
	<string>COP</string>
	<string>KILL</string>
	<string>DEATH</string>
	<string>DEAD</string>
	<string>FRAME</string>
	<string>DOT</string>
	<string>COMMA</string>
	<string>DOTS</string>
	<string>LAUGH</string>
	<string>FOOD</string>
	<string>EARN</string>
	<string>BRACE</string>
	<string>SLEEP</string>
	<string>WAKE</string>
	<string>BEARD</string>
	<string>SPOON</string>
	<string>KNIFE</string>
	<string>FORK</string>
	<string>STRAP</string>
	<string>TUBE</string>
	<string>DRINK</string>
	<string>DRUNK</string>
	<string>DRANK</string>
	<string>CHESS</string>
	<string>CHECK</string>
	<string>FIRST</string>
	<string>LAST</string>
	<string>THIRD</string>
	<string>FIFTH</string>
	<string>GRASS</string>
	<string>PLANT</string>
	<string>BLEW</string>
	<string>BLOW</string>
	<string>FISH</string>
	<string>CURB</string>
	<string>TRACK</string>
	<string>PAGE</string>
	<string>ELBOW</string>
	<string>EASEL</string>
	<string>ERUPT</string>
	<string>BALL</string>
	<string>CHAIR</string>
	<string>OAK</string>
	<string>ROOM</string>
	<string>BAR</string>
	<string>COUCH</string>
	<string>RUN</string>
	<string>RAN</string>
	<string>MAY</string>
	<string>APRIL</string>
	<string>JUNE</string>
	<string>JULY</string>
	<string>MARCH</string>
	<string>SPIN</string>
	<string>SPINE</string>
	<string>FLIES</string>
	<string>DOGS</string>
	<string>CATS</string>
	<string>MOUSE</string>
	<string>MICE</string>
	<string>RAT</string>
	<string>RATS</string>
	<string>SALAD</string>
	<string>TRASH</string>
	<string>CAN</string>
	<string>COULD</string>
	<string>WOULD</string>
	<string>MIGHT</string>
	<string>MAGIC</string>
	<string>ADOPT</string>
	<string>DEBT</string>
	<string>LOAN</string>
	<string>AMUSE</string>
	<string>ATLAS</string>
	<string>AWARD</string>
	<string>BEACH</string>
	<string>SHORE</string>
	<string>SHOW</string>
	<string>BLADE</string>
	<string>GUN</string>
	<string>SWORD</string>
	<string>SLAY</string>
	<string>WRITE</string>
	<string>READ</string>
	<string>TAPE</string>
	<string>STUDY</string>
	<string>CHEER</string>
	<string>GOD</string>
	<string>KID</string>
	<string>SQUID</string>
	<string>SLICK</string>
	<string>SMOKE</string>
	<string>LABEL</string>
	<string>NEWS</string>
	<string>HAT</string>
	<string>CAP</string>
	<string>CRUEL</string>
	<string>CYCLE</string>
	<string>DEVIL</string>
	<string>SMART</string>
	<string>DUMB</string>
	<string>SKATE</string>
	<string>DEMON</string>
	<string>METAL</string>
	<string>DREAM</string>
	<string>DIVER</string>
	<string>DRIFT</string>
	<string>DROOL</string>
	<string>DUTCH</string>
	<string>OIL</string>
	<string>BURN</string>
	<string>BUDDY</string>
	<string>PAL</string>
	<string>FAIL</string>
	<string>FIRE</string>
	<string>WIND</string>
	<string>SKY</string>
	<string>CLOUD</string>
	<string>SHAPE</string>
	<string>ACT</string>
	<string>NYLON</string>
	<string>ORGAN</string>
	<string>PALMS</string>
	<string>PAINT</string>
	<string>CHALK</string>
	<string>SIGN</string>
	<string>PLUMB</string>
	<string>GIRLS</string>
	<string>BOYS</string>
	<string>PRESS</string>
	<string>BOOKS</string>
	<string>BOOK</string>
	<string>CLOCK</string>
	<string>PUPPY</string>
	<string>PRAWN</string>
	<string>MOVIE</string>
	<string>MUSIC</string>
	<string>FILM</string>
	<string>IMAGE</string>
	<string>MIND</string>
	<string>SOUL</string>
	<string>WAVE</string>
	<string>SURF</string>
	<string>GOLF</string>
	<string>SLIP</string>
	<string>GLIDE</string>
	<string>MANGO</string>
	<string>SLIDE</string>
	<string>POWER</string>
	<string>CLAP</string>
	<string>SLAP</string>
	<string>WRAP</string>
	<string>BOARD</string>
	<string>BROAD</string>
	<string>PAGES</string>
	<string>LIAR</string>
	<string>LIARS</string>
	<string>COWS</string>
	<string>PACK</string>
	<string>ZIP</string>
	<string>PIPE</string>
	<string>HOLE</string>
	<string>CABLE</string>
	<string>VIDEO</string>
	<string>SONG</string>
	<string>SING</string>
	<string>SANG</string>
	<string>SINK</string>
	<string>SUNK</string>
	<string>SANK</string>
	<string>SUNG</string>
	<string>TRIAL</string>
	<string>TRAIL</string>
	<string>WIDTH</string>
	<string>CANAL</string>
	<string>AIR</string>
	<string>CUTE</string>
	<string>CRAWL</string>
	<string>ACORN</string>
	<string>TOWEL</string>
	<string>BED</string>
	<string>PILE</string>
	<string>STACK</string>
	<string>CLASH</string>
	<string>BEE</string>
	<string>APPLY</string>
	<string>COST</string>
	<string>COSTS</string>
	<string>WOUND</string>
	<string>FAIRY</string>
	<string>FAINT</string>
	<string>FABLE</string>
	<string>STORY</string>
	<string>FIST</string>
	<string>FIGHT</string>
	<string>CLUB</string>
	<string>BANK</string>
	<string>BODY</string>
	<string>ZEBRA</string>
	<string>YIELD</string>
	<string>YARDS</string>
	<string>YARD</string>
	<string>JAR</string>
	<string>YACHT</string>
	<string>YOUNG</string>
	<string>YOUTH</string>
	<string>XEROX</string>
	<string>WRECK</string>
	<string>WAGON</string>
	<string>WAIST</string>
	<string>BIN</string>
	<string>VINYL</string>
	<string>MARS</string>
	<string>VENUS</string>
	<string>VEINS</string>
	<string>TWIN</string>
	<string>TWINS</string>
	<string>UNDER</string>
	<string>ABOVE</string>
	<string>BELOW</string>
	<string>NEXT</string>
	<string>WOVEN</string>
	<string>WIDOW</string>
	<string>WHEAT</string>
	<string>WARM</string>
	<string>HOT</string>
	<string>WITCH</string>
	<string>WATCH</string>
	<string>FAME</string>
	<string>FREAK</string>
	<string>VAULT</string>
	<string>TIP</string>
	<string>TIPSY</string>
	<string>FAULT</string>
	<string>TIMER</string>
	<string>TRAIN</string>
	<string>SYRUP</string>
	<string>TAXES</string>
	<string>TANGO</string>
	<string>DANCE</string>
	<string>ORBIT</string>
	<string>SWING</string>
	<string>OTTER</string>
	<string>WAGON</string>
	<string>TOAST</string>
	<string>METRO</string>
	<string>SLOW</string>
	<string>IVORY</string>
	<string>JAPAN</string>
	<string>JEANS</string>
	<string>JEWEL</string>
	<string>INDIA</string>
	<string>JUICE</string>
	<string>JEW</string>
	<string>RUBY</string>
	<string>FAST</string>
	<string>MANOR</string>
	<string>OCEAN</string>
	<string>GHOST</string>
	<string>ARROW</string>
	<string>LUNCH</string>
	<string>LUNG</string>
	<string>FLYER</string>
	<string>CUT</string>
	<string>LIVER</string>
	<string>LOVER</string>
	<string>LEFT</string>
	<string>ALIVE</string>
	<string>DIG</string>
	<string>MARK</string>
	<string>BUG</string>
	<string>BUN</string>
	<string>PILL</string>
	<string>BEGAN</string>
	<string>PILLS</string>
	<string>PASTA</string>
	<string>PLANK</string>
	<string>OPERA</string>
	<string>TROLL</string>
	<string>GRILL</string>
	<string>GREEK</string>
	<string>PROUD</string>
	<string>HACK</string>
	<string>TOXIC</string>
	<string>GUILD</string>
	<string>GUARD</string>
	<string>PREY</string>
	<string>PRAY</string>
	<string>HOTEL</string>
	<string>HOVER</string>
	<string>CRAFT</string>
	<string>RAVEN</string>
	<string>PIZZA</string>
	<string>PIANO</string>
	<string>BEGIN</string>
	<string>DIP</string>
	<string>ELF</string>
	<string>DWARF</string>
	<string>ELVES</string>
	<string>GEL</string>
	<string>GLUE</string>
	<string>URN</string>
	<string>EARN</string>
	<string>FUN</string>
	<string>FUR</string>
	<string>WET</string>
	<string>WAX</string>
	<string>GAP</string>
	<string>ZOO</string>
	<string>VENOM</string>
	<string>SALE</string>
	<string>TOY</string>
	<string>UFO</string>
	<string>SUN</string>
	<string>MOON</string>
	<string>SHINE</string>
	<string>GLARE</string>
	<string>CARRY</string>
	<string>DENY</string>
	<string>PUG</string>
</array>
</plist>
